* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("/imagens/ps3Background_.webp");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
header img {
    width: 15vw;
    cursor: pointer;
}
nav {
    width: 40vw;
}
a {
    color: black;
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
ul li {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    transition: 0.5s;
    width: 15vw;
    text-align: center;
    cursor: pointer;
    
}
ul li:hover {
    background-color: lightgray;
    transition: 0.5s;
}
.linkHome {
    width: 7vw;
}
.linkPs3 {
    background-color: darkgray;
}
main {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.containerPs3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.containerConsole img {
    width: 40vw;
    border-radius: 1.5%;
}
.informacoesPs3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 55vw;
    height: 55vh;
    backdrop-filter: blur(7px);
}
.informacoesPs3 p {
    font-size: 1.5rem;
}
.controlePs3 {
    background-color: white;
    border-radius: 1.5%;
    position: relative;
    right: 1rem;
}
.controlePs3 img {
    width: 40vw;
}
.informacoesControlePs3  {
    width: 50vw;
    backdrop-filter: blur(7px);
}
.informacoesControlePs3 p {
    font-size: 1.8rem;
}
.containerVideo {
    margin-top: 1rem;
    text-align: center;
}
.videoPs3 {
    border-radius: 20px;
    transition: 0.7s;
}
.videoPs3:hover {
    transform: scale(1.02);
    transition: 0.7s;
}
.botaoJogos {
    text-align: center;
    margin-top: 1rem;
}
.botaoJogos button {
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
    width: 25vw;
    height: 5vh;
    transition: 0.6s;
    background-color: white;
}
.botaoJogos button:hover {
    transform: scale(1.05);
    box-shadow: 1px 3px 3px 3px rgb(233, 169, 91);
}
footer {
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin-top: 1rem;
}
.logoFooter {
    width: 15vw;
    height: 15vh;
    margin-top: 1rem;
}
.opcoesFooter {
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
    align-items: center;
    margin-left: 20rem;
}
.containerOpcoes1 {
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
height: 18vh;
}

.opcoes {
    font-weight: 600;
    font-size: 1.7rem;
}
.linksFooter {
    cursor: pointer;
    color: black;
    font-size: 1.1rem;
}
.linksFooter:hover {
    color: darkgray;
}
.containerOpcoes2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -1.5rem;
}
.containerImgContatos {
    display: flex;
}
.containerImgContatos img {
    width: 3vw;
    height: 5vh;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.containerImgContatos img:hover {
    opacity: 0.7;
}